h1 {
  color: blue;
  text-align: center;
}

.welcome {
  color: red;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
body {
  background-image: url(background.jpeg);
  background-size: cover;
  background-position: center;
}
.box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 50px auto;
}
h2 {
    color: darkblue;
    text-align: center;

}
.flexy {
    display: inline-flex;
    flex-direction: row;
    width: 100%;

}
p {text-align: center;}